
.Caroussel-aff {
    margin: 3em;
    background-color: #020327;
    border-radius: 2em;
    padding: 2em;
    border: solid 1px rgb(90,204,230);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


.caroussel {
    transition: all ease-in-out 1s;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: rgba(135,135,135,255);
    outline: none;
    font-weight: bolder;
    font-size:medium
}

.caroussel:hover {
    color:rgba(90,204,230,255);
}
.caroussel:focus {
    color: rgb(90,204,230);
    text-decoration: underline rgb(90,204,230) 2px;
}

.images {
    color: white;
    margin: 1.5em;
    display: flex;
    justify-content: center;
    align-content: center;
}


.demo {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 1em;
}

.ex {
    color: rgb(199, 227, 238);
    margin: 1em;
    padding: 1em;
}

.mono {
    font-family: monospace;
}


#im1 {
    max-width: 78%;
    height: auto;
}

#im2, #im3, #im4, #im5 {
    max-width: 45%;
    height: auto;
}
