<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <button onclick="redirectOHIF()">Ouvrir OHIF Viewer</button>
    <button onclick="upload()">Envoyer le RTStruct au serveur</button>

    <script>
        function redirectOHIF() {
            window.location.href = "ohif";
        }
        function upload() {
            window.location.href = "upload"
        }
    </script>

</body>
</html>
